name: CodSpeed

on:
  push:
    branches:
    - main
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.62.2
        environments: benchmark
        activate-environment: benchmark
        cache: true
        cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    - name: Run benchmarks
      uses: CodSpeedHQ/action@v4
      with:
        mode: simulation
        token: ${{ secrets.CODSPEED_TOKEN }}
        run: pixi r benchmark
